*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #FAFAFA;
}
ul{
    list-style: none;
}
header, nav{
    width: 100%;
    display: flex;
    background-color: #1565C0;
}
header{
    padding:  15px;
    height: 200px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav h1{
    color: #1565C0;
    width: 60%;
    text-align: center;
}
nav .search{
    display: flex;
    width: 70%;
    flex-direction: column;
    color: aliceblue;
}
nav .search label{
    font-size: 13px;
    color: #F5F5F5;
}
nav .search input{
    padding: 3px 10px;
    border:0;
    border-radius: 3px;
    border: 1px solid #B0BEC5;
    background: #ECEFF1;
}
section{
    display: flex;
    transform: translateY(-80px);
    width: 70%;
    background-color: #F5F5F5;
    border-radius: 3px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
section aside{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
section article{
    width: 65%;
    padding: 25px;
}
section article .list{
    margin: 25px 0;
    height: 100%;
}
section article .list ul:last-child{
    border:0
}
section .new{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.new  input, .new  textarea, .new  button{
    margin-bottom: 10px;
    background: #edf0f2;
    border:0;
    border-radius: 3px;
    padding: 5px 10px;
}
.new  textarea{
    min-height: 100px;
    resize: none;
}
.new button{
    background: #ECEFF1;
    color:#1565C0;
    font-weight: bold;
    border:0;
    cursor: pointer;
    transition: all ease 0.3s;
}
.new button:hover{
    background: #1565C0;
    color: aliceblue;
}
article .titles, article .tasks{
    display: flex;
    justify-content: center;
}
article .titles li, article .tasks li{
    width: 25%;
    padding: 5px 15px;
}
article .titles li:last-child, article .tasks li:last-child{
    border:0
}
.estado{
    cursor: pointer;
}

