:root {
    --activo: #1565C0;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f5f5f5;
}
ul{
    list-style: none;
}
header, nav{
    width: 100%;
    display: flex;
    background-color: var(--activo);
}
header{
    padding:  15px;
    height: 200px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav h1{
    color: aliceblue;
    width: 60%;
    text-align: center;
}
nav .search{
    display: flex;
    width: 70%;
    flex-direction: column;
    color: aliceblue;
}
nav .search label{
    font-size: 13px;
    color: #F5F5F5;
}
nav .search input{
    padding: 3px 10px;
    border:0;
    border-radius: 3px;
    border: 1px solid #B0BEC5;
    background: #ECEFF1;
}
section{
    display: flex;
    transform: translateY(-80px);
    width: 70%;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
section aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
section article{
    width: 50%;
    padding: 25px;
}

section .new{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.new label{
    color: #78909C;
    font-size: 13px;
}
.new  input, .new  textarea, .new  button{
    margin-bottom: 10px;
    background: #fafafa;    
    border:0;
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    padding:  10px;
}
.new  textarea{
    min-height: 100px;
    resize: none;
}
.new button{
    background: #1565C0;
    color:aliceblue;
    font-size: 12px;
    border:0;
    cursor: pointer;
    transition: all ease 0.3s;
}
.new button:hover{
    background: #1565C0;
    color: aliceblue;
}
article .titles, article .tasks{
    display: flex;
    justify-content: center;
}
.pointer{
    cursor: pointer;
}


.tarea{
    border-radius: 3px;
    padding:  10px;
}
.tarea hr{
    width: 20%;
    margin-top: 20px;
    border:0;
    height: 1px;
    background-color: #CFD8DC;
}
hr:last-of-type{
    background-color: rebeccapurple;
}
.tarea h2{
    color: #78909C;
    font-size: 14px;
    font-weight: normal;
}
.tarea p{
    color:#263238;
    margin-top: 5px;
}
.acciones{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.acciones span{
    font-size: 14px;
}
.acciones div span{
    margin-left: 20px;
    border-radius: 50%;
    padding: 5px 10px;
    border:1px solid;
    color: #B71C1C
}
.finalizado{
    text-decoration: line-through;
    transition: all ease .3s
}
.estado{
    border-radius: 3px;
    border: 1px solid #CFD8DC;
    padding: 3px 5px;
    transition: all ease .3s
}
.realizar{
    background:blanchedalmond;
}
.estado:hover{
    background: #CFD8DC;
}
.acciones div span:first-child{
    color: #1B5E20;
}


