<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Tareas</title>
</head>
<body>
    <header>
        <nav>
            <h1>Tareas</h1>
            <div class="search">
                <label for="buscar">Buscar tarea</label>
                <input type="text" placeholder="ir al super" id="buscar">
            </div>
        </nav>
    </header>

    <section>
        <aside>
            <h2>Nueva Tarea</h2>
            <div class="new">
                <label for="nueva">Nombre de la tarea</label>
                <input type="text" v-model='nombre'>
                <label for="descripcion">Descripcion</label>
                <textarea v-model="descripcion"></textarea>
                <button v-on:click="agregarTarea">Guardar nueva tarea</button>
            </div>
        </aside>
        <article>
            <h2>Mis Tareas</h2>
            <div class="list">
                <ul class="titles">
                    <li>Numero</li>
                    <li>Tarea</li>
                    <li>Descripcion</li>
                    <li>Estado</li>
                    <li>Accion</li>
                </ul>
                <ul class="tasks" v-for='(task, index) in tasks'>
                    <li :key = "index">{{index +1}}</li>
                    <li>{{task.nombre}}</li>
                    <li>{{task.descripcion}}</li>
                    <li>{{task.estado}}</li>
                    <li>
                        <button>Editar</button>
                        <button>Borrar</button>
                    </li>
                </ul>
            </div>
        </article>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/app.js"></script>

</body>
</html>