<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <title>To do List</title>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <h1>To do List</h1>
                <div class="search">
                    <label for="buscar">Buscar tarea</label>
                    <input type="text" placeholder="ir al super" id="buscar">
                </div>
            </nav>
        </header>

        <section>
            <aside>
                <h2>Nueva Tarea</h2>
                <div class="new">
                    <label for="nueva">Nombre de la tarea</label>
                    <input type="text" v-model='nombre' placeholder="estudiar matematica">
                    <label for="descripcion">Descripcion</label>
                    <textarea v-model="descripcion" placeholder="repasar algoritmos"></textarea>
                    <button v-on:click="agregarTarea">Guardar nueva tarea</button>
                </div>
            </aside>
            <article>
                <h2>Mis Tareas</h2>
                <div class="list">
                    <div class="tarea" v-for='(task, index) in tasks'>
                        <h2><span :key='index'>{{index+1}}</span> <span :class ="{'finalizado' : task.estado ==='finalizado'}"> {{task.nombre}}</span></h2>
                        <p>{{task.descripcion}}</p>
                        <div class="acciones">
                            <span v-on:click='estado(index)' class="pointer estado">{{task.estado}}</span>
                            <div>
                                <span v-on:click='editar(index)' class="pointer"><i class="fas fa-pencil-alt"></i></span>
                                <span v-on:click='borrar(index)' class="pointer"><i class="fas fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/app.js"></script>

</body>
</html>